name: zcashd-nightly

on:
  schedule:
    - cron: '0 6 * * *' # Every day at 6:00 AM UTC.

jobs:
  call-build-zcashd-workflow:
    uses: runziggurat/zcash/.github/workflows/build-zcashd.yml@main

  call-build-ziggurat-workflow:
    uses: runziggurat/ziggurat-core/.github/workflows/build-ziggurat.yml@main

  test-zcashd:
    runs-on: ubuntu-latest
    needs: [ call-build-ziggurat-workflow, call-build-zcashd-workflow ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: rustup toolchain install nightly --profile minimal
      - uses: actions/download-artifact@v3
        with:
          name: zcashd-fetch-params
          path: ./zcash
      - uses: actions/download-artifact@v3
        with:
          name: zcashd-executable
          path: ./zcash
      - uses: actions/download-artifact@v3
        with:
          name: ziggurat-executable
          path: ./ziggurat
      - name: Create ~/.ziggurat/config.toml
        run: |
          mkdir ~/.ziggurat/
          touch ~/.ziggurat/config.toml
          echo kind = \"zcashd\" > ~/.ziggurat/config.toml
          echo path = \"/home/runner/work/zcash/zcash/zcash\" >> ~/.ziggurat/config.toml
          echo start_command = \"./zcashd -debug=1 -printtoconsole -logips=1 -dnsseed=0 -dns=0 -listenonion=0\" >> ~/.ziggurat/config.toml
      - name: Fetch zcashd params
        run: |
          chmod +x zcash/fetch-params.sh
          ./zcash/fetch-params.sh
      - name: Run ziggurat suite
        continue-on-error: true
        run: |
          rm ./ziggurat/*.d
          mv ./ziggurat/ziggurat-* ziggurat_test
          chmod +x ziggurat_test
          chmod +x zcash/zcashd
          mkdir -p results/zcashd
          mv results/zcashd/latest.jsonl results/zcashd/previous.jsonl
          ./ziggurat_test --test-threads=1 --nocapture -Z unstable-options --report-time --format json > results/zcashd/latest.jsonl
          cat results/zcashd/latest.jsonl
      - uses: actions/upload-artifact@v3
        with:
          name: latest-result
          path: results/zcashd/latest.jsonl
      - uses: actions/upload-artifact@v3
        with:
          name: previous-result
          path: results/zcashd/previous.jsonl

  call-process-results-workflow:
    needs: [ test-zcashd ]
    uses: runziggurat/ziggurat-core/.github/workflows/process-results.yml@main
    with:
      name: zcashd
      repository: zcash
    secrets:
      gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}

  call-diff-with-previous-workflow:
    needs: [ test-zcashd ]
    uses: runziggurat/ziggurat-core/.github/workflows/diff-with-previous.yml@main
