name: zebra

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *' # Every day at 6:00 AM UTC.

jobs:
  build-zebra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: ZcashFoundation/zebra
      - run: rustup toolchain install stable --profile minimal
      - name: Build Zebra and download artifacts
        run: cargo +stable build --release
      - uses: actions/upload-artifact@v3
        with:
          name: zebra-executable
          path: ./target/release/zebrad

  call-build-ziggurat-workflow:
    uses: runziggurat/ziggurat-core/.github/workflows/build-ziggurat.yml@main

  test-zebra:
    runs-on: ubuntu-latest
    needs: [ build-zebra, call-build-ziggurat-workflow ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: rustup toolchain install nightly --profile minimal
      - uses: actions/download-artifact@v3
        with:
          name: zebra-executable
          path: ./zebrad
      - uses: actions/download-artifact@v3
        with:
          name: ziggurat-executable
          path: ./ziggurat
      - run: |
          chmod +x ./zebrad/zebrad
      - name: Create ~/.ziggurat/config.toml
        run: |
          mkdir ~/.ziggurat/
          touch ~/.ziggurat/config.toml
          echo kind = \"zebra\" > ~/.ziggurat/config.toml
          echo path = \"/home/runner/work/zcash/zcash/zebrad\" >> ~/.ziggurat/config.toml
          echo start_command = \"./zebrad start\" >> ~/.ziggurat/config.toml
      - name: Run ziggurat suite
        continue-on-error: true
        run: |
          rm ./ziggurat/*.d
          mv ./ziggurat/ziggurat_zcash-* ziggurat_test
          chmod +x ziggurat_test
          ./ziggurat_test --test-threads=1 --nocapture -Z unstable-options --report-time --format json > latest.jsonl
          cat latest.jsonl
      - uses: actions/upload-artifact@v3
        with:
          name: latest-result
          path: latest.jsonl

  call-process-results-workflow:
    needs: [ test-zebra ]
    uses: runziggurat/ziggurat-core/.github/workflows/process-results.yml@main
    with:
      name: zebra
      repository: zcash
    secrets:
      gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}

  call-diff-with-previous-workflow:
    needs: [ test-zebra ]
    uses: runziggurat/ziggurat-core/.github/workflows/diff-with-previous.yml@main
    with:
      name: zebra
      repository: zcash
    secrets:
      gcp_credentials: ${{ secrets.GCP_CREDENTIALS }}
